[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
git = "python source/git.py"
build = "pipenv run vhlookup-build"
vhlookup = "python source/vhlookup.py"
vhlookup-build = "python scripts/build.py vhlookup"

[packages]
click = "*"
python-a2s = "*"

[dev-packages]
cython = "*"
nuitka = "*"

[requires]
python_version = "3.8"
