[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
build = "pyinstaller -F source/main.py"
test = "coverage run -m unittest discover source -p \"*_test.py\""
report = "coverage report"


[packages]

[dev-packages]
pyinstaller = "*"
parameterized = "*"
coverage = "*"

[requires]
python_version = "3"
